{% extends "bootstrap.html" %}

{% block title %}Agnimithra 2k16|Admit Card-{{ person.id }}{% endblock %}


{% block content %}
<div class="container">
<a onclick="window.print()"><img src="/static/img/printer.png" height="30px" width="30px"/>Click Here to print</a>
<center>
<br><img class="img-responsive" src ="/static/img/agni1.png" height="100px" width="100px"/>
<h1>Agnimithra 2k16</h1>
<h3>Department of Computer Science</h3>
<h3>Anna University-Villupuram Campus</h3>
</center>
<div class="col-md-3">
</div>
<div class="col-md-6">
  <table role="presentation" width="100%">
    <tr>
      <td style="padding-top:10px; padding-bottom: 10px;"><img class="img-responsive" src="/static/img/people.png" height="40px" width="40px" align="left"/></td>
      <td><p allign="middle" style="padding-top:6px;">&nbsp;&nbsp;&nbsp;{{ person.candidate }}</p></td>
      <td align="right">ID :{{ person.id }}</td>
    </tr>
    <tr>
      <td style="padding-top:10px; padding-bottom: 10px;"><img class="img-responsive" src="/static/img/ins.png" height="40px" width="40px" align="left"/></td>
      <td><p allign="middle" style="padding-top:6px;">&nbsp;&nbsp;&nbsp;{{ person.college }}</p></td>
      <td rowspan="2" align="right"><img class="img-responsive" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ person.id }}" height="100px" width="100px"/></td>
    </tr>
    <tr>
      <td style="padding-top:10px; padding-bottom: 10px;"><img class="img-responsive" src="/static/img/mail.png" height="40px" width="40px" align="left"/></td>
      <td><p allign="middle" style="padding-top:6px;">&nbsp;&nbsp;&nbsp;{{ person.mailid }}</p></td>
    </tr>
  </table>
</div>
<div  class="col-md-3">
</div>
</div>

<div class="container">
  <center>
    <h1>Events</h1>
  </center>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <center>
    <table role="presentation" style="width:100%;">
      <tr>
        <th width="33%"><center><h3>Mega Event</h3></center></th>
        <th width="33%"><center><h3>Tech Event</h3></center></th>
        <th width="33%"><center><h3>Fun Box</h3></center></th>
      </tr>
      <tr>
        <td align="middle"><p>Arduino</p></td>
        <td align="middle"><p>Code Crush</p></td>
        <td align="middle"><p>Joy Boom</p></td>
      </tr>
      <tr>
        <td align="middle"><p>Ruby</p></td>
        <td align="middle"><p>Who is Geek</p></td>
        <td align="middle"><p>Twiddle Thumbs</p></td>
      </tr>
      <tr>
        <td align="middle"><p>Paper Presentation</p></td>
        <td align="middle"><p>Appmania</p></td>
        <td align="middle"><p></p></td>
      </tr>
      <tr>
        <td><p></p></td>
        <td align="middle"><p>Crazy Engineers</p></td>
        <td><p></p></td>
      </tr>
      <tr>
        <td><p></p></td>
        <td align="middle"><p>Quizzito</p></td>
        <td><p></p></td>
      </tr>
  </table>
  </center>
</div>
<div class="col-md-2">
</div>
</div>
<div class="container">
<div class="col-md-2">
</div>
<div class="col-md-8">
</br></br>
<center><p>Mail: agnimithra2k16cse@gmail.com</br>Contact: Deepak Kumar 9566308221&nbsp;&nbsp;&nbsp;&nbsp;Manimaran 9600789681</p></center>
</div>
<div class="col-md-2">
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

</script>
{% endblock scripts %}
