{% extends "base.html" %}

{% block title %}Agnimithra 2k16|CSE-FunBox{% endblock %}

{% block body_attribs %} style="background-color: #f1f2f6;"{% endblock body_attribs%}

{% block navbar_right %}
  <li><a href="#twiddlethumbs">TWIDDLE THUMBS</a></li>
  <li><a href="#joyboom">JOY BOOM</a></li>
  <li><a href="/cse/register">REGISTER</a></li>
{%endblock %}

{% block content %}
<div class="container bg-white" id="twiddlethumbs">
  <center>
    <h1 class="text-yellow" style="margin-top: 80px;">Twiddle Thumbs</h1></br>
    <img class="img-responsive size-150" src="/static/img/twiddlethumbs.svg"/></br></br>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round1.svg"/>
    <h3 class="text-black">Basket Ball</h3>
    <p class="text-black" style="font-size: 16px;">Throw and Catch the ball</p></br>
  </div>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round2.svg"/>
    <h3 class="text-black">Treasure Hunt</h3>
    <p class="text-black" style="font-size: 16px;">Find material with clues</p></br>
  </div>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round3.svg"/>
    <h3 class="text-black">Break the Pyramid</h3>
    <p class="text-black" style="font-size: 16px;">Build and Break the Pyramid</p></br></br>
  </div>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round4.svg"/>
    <h3 class="text-black">Get and Put</h3>
    <p class="text-black" style="font-size: 16px;">Get the instruction and Put the ball</p></br>
  </div>
    <img class="img-responsive" height="50px;" width="50px;" src="/static/img/org.svg"/>
    <h3 class="text-black">Organizers</h3>
    <p class="text-black" style="font-size: 16px;">Prabakaran</br>Prasanna Devi</br>Contact: 9597635163</p>
  </center>
</div>

<div class="container bg-white" id="joyboom">
  <center>
    <h1 class="text-yellow" style="margin-top: 80px;">Joyboom</h1></br>
    <img class="img-responsive size-150" src="/static/img/joyboom.svg"/></br></br>
<div> 
 <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round1.svg"/>
    <h3 class="text-black">Cine Shadow</h3>
    <p class="text-black" style="font-size: 16px;">Observe the act and find the flim</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round2.svg"/>
    <h3 class="text-black">Ballon Blast</h3>
    <p class="text-black" style="font-size: 16px;">Blow and blast the baloon</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round3.svg"/>
    <h3 class="text-black">Connection</h3>
    <p class="text-black" style="font-size: 16px;">Find the word by connecting the images</p></br>
  </div>
</div>
<div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round4.svg"/>
    <h3 class="text-black">Mouth Twister</h3>
    <p class="text-black" style="font-size: 16px;">Answer with sweet in the mouth</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round5.svg"/>
    <h3 class="text-black">Sequence Selector</h3>
    <p class="text-black" style="font-size: 16px;">Order the flim scence</p></br>
  </div>
  <div class="col-md-2"></div>
</div>
</center>
</div>
<div class="container bg-white">
<center>
    <img class="img-responsive" height="50px;" width="50px;" src="/static/img/org.svg"/>
    <h3 class="text-black">Organizers</h3>
    <p class="text-black" style="font-size: 16px;">Murugeshwaran</br>Abusara</br>Contact: 9585810237</p></br></br>
</center>
</div>
{% endblock content %}
