{% extends "base.html" %}

{% block title %}Agnimithra 2k16|CSE-Credits{% endblock %}

{% block body_attribs %} style="background-color: #f1f2f6;"{% endblock body_attribs%}

{% block navbar_right %}
  <li><a href="/cse/megaevents">MEGA EVENTS</a></li>
  <li><a href="/cse/techeve">TECH EVE</a></li>
  <li><a href="/cse/funbox">FUN BOX</a></li>
  <li><a href="/cse/register">REGISTER</a></li>
{% endblock navbar_right %}

{% block content %}
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endblock content %}
