{% extends "base.html" %}

{% block title %}Agnimithra 2k16|CSE-TechEve{% endblock %}

{% block body_attribs %} style="background-color: #f1f2f6;"{% endblock body_attribs%}

{% block navbar_right %}
  <li><a href="#codecrush" style="font-size: 14px;">CODE CRUSH</a></li>
  <li><a href="#whoisgeek" style="font-size: 14px;">WHO IS GEEK?</a></li>
  <li><a href="#quizitto" style="font-size: 14px;">QUIZITTO</a></li>
  <li><a href="#appmania" style="font-size: 14px;">APPMANIA</a></li>
  <li><a href="#crazyengineer" style="font-size: 14px;">CRAZY ENGINEER</a></li>
  <li><a href="/cse/register" style="font-size: 14px;">REGISTER</a></li>
{%endblock %}

{% block content %}
<div class="container bg-white" id="codecrush">
  <center>
    <h1 class="text-yellow" style="margin-top: 80px;">Code Crush</h1></br>
    <img class="img-responsive size-150" src="/static/img/codecrush.svg"/></br></br>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round1.svg"/>
    <h3 class="text-black">Crackit</h3>
    <p class="text-black" style="font-size: 16px;">Aural test based on c,c++,java</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round2.svg"/>
    <h3 class="text-black">Code Clicker</h3>
    <p class="text-black" style="font-size: 16px;">Debug the given program</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round3.svg"/>
    <h3 class="text-black">Quizoid</h3>
    <p class="text-black" style="font-size: 16px;">Level 1: Rapid fire</br>Level 2: Flash play</p></br>
  </div>
    <img class="img-responsive" height="50px;" width="50px;" src="/static/img/org.svg"/>
    <h3 class="text-black">Organizers</h3>
    <p class="text-black" style="font-size: 16px;">Sathish Kumar</br>Rahima Sulthana</br>Contact: 9786452324</p>
  </center>
</div>

<div class="container bg-white" id="whoisgeek">
  <center>
    <h1 class="text-yellow" style="margin-top: 80px;">Who is Geek?</h1></br>
    <img class="img-responsive size-150" src="/static/img/whoisgeek.svg"/></br></br>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round1.svg"/>
    <h3 class="text-black">Technical Aptitude</h3>
    <p class="text-black" style="font-size: 16px;">Apptitude test -15mins</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round2.svg"/>
    <h3 class="text-black">Webpage creation</h3>
    <p class="text-black" style="font-size: 16px;">Create webpage given topic</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round3.svg"/>
    <h3 class="text-black">Find a File</h3>
    <p class="text-black" style="font-size: 16px;">Find what a file is.</p></br>
  </div>
    <img class="img-responsive" height="50px;" width="50px;" src="/static/img/org.svg"/>
    <h3 class="text-black">Organizers</h3>
    <p class="text-black" style="font-size: 16px;">Saran Kumar </br>Anitha Devi</br>Contact: 9442567415</p>
  </center>
</div>

<div class="container bg-white" id="quizitto">
  <center>
    <h1 class="text-yellow" style="margin-top: 80px;">Quizitto</h1></br>
    <img class="img-responsive size-150" src="/static/img/quizitto.svg"/></br></br>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round1.svg"/>
    <h3 class="text-black">Technical Quizz</h3>
    <p class="text-black" style="font-size: 16px;">Written test</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round2.svg"/>
    <h3 class="text-black">Word Hippo</h3>
    <p class="text-black" style="font-size: 16px;">Answer the Question</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round3.svg"/>
    <h3 class="text-black">Soonest Hit</h3>
    <p class="text-black" style="font-size: 16px;">Shootout the answer soon</p></br>
  </div>
    <img class="img-responsive" height="50px;" width="50px;" src="/static/img/org.svg"/>
    <h3 class="text-black">Organizers</h3>
    <p class="text-black" style="font-size: 16px;">Padhmanaban</br>Asodhini</br>Contact: 8940664377</p>
  </center>
</div>

<div class="container bg-white" id="appmania">
  <center>
    <h1 class="text-yellow" style="margin-top: 80px;">Appmania</h1></br>
    <img class="img-responsive size-150" src="/static/img/appmania.svg"/></br></br>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round1.svg"/>
    <h3 class="text-black">I-Quest</h3>
    <p class="text-black" style="font-size: 16px;">Multiple choice Questions</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round2.svg"/>
    <h3 class="text-black">Logo Magista</h3>
    <p class="text-black" style="font-size: 16px;">Name the logo</p></br>
  </div>
  <div class="col-md-4">
    <img class="img-responsive size-70" src="/static/img/round3.svg"/>
    <h3 class="text-black">Rapid Spark</h3>
    <p class="text-black" style="font-size: 16px;">Answers the Questions Rapidly</p></br>
  </div>
    <img class="img-responsive" height="50px;" width="50px;" src="/static/img/org.svg"/>
    <h3 class="text-black">Organizers</h3>
    <p class="text-black" style="font-size: 16px;">Arunachalam</br>Bagya</br>Contact: 9943687391</p>
  </center>
</div>

<div class="container bg-white" id="crazyengineer">
  <center>
    <h1 class="text-yellow" style="margin-top: 80px;">Crazy Engineer</h1></br>
    <img class="img-responsive size-150" src="/static/img/crazyengineer.svg"/></br></br>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round1.svg"/>
    <h3 class="text-black">Screening</h3>
    <p class="text-black" style="font-size: 16px;">Find the personality</p></br>
  </div>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round2.svg"/>
    <h3 class="text-black">Debugging</h3>
    <p class="text-black" style="font-size: 16px;">Point out the bug in given program</p></br>
  </div>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round3.svg"/>
    <h3 class="text-black">Rapid Spark</h3>
    <p class="text-black" style="font-size: 16px;">Shoot out rapid answer</p></br>
  </div>
  <div class="col-md-3">
    <img class="img-responsive size-70" src="/static/img/round4.svg"/>
    <h3 class="text-black">Code crack</h3>
    <p class="text-black" style="font-size: 16px;">Build the program for given output</p></br>
  </div>
    <img class="img-responsive" height="50px;" width="50px;" src="/static/img/org.svg"/>
    <h3 class="text-black">Organizers</h3>
    <p class="text-black" style="font-size: 16px;">Thiruarul</br>Udhayalekchumi</br>Contact: 8807466316</p>
  </center>
</div>
{% endblock content %}
